:root {
    --primary: #fcd718;
    --gray1: #101010;
    --gray2: #282828;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    font-size: min(16px, 3vw);
}
body {
    background-color: #000000;
    color: #FFF;
}
p {
    font-size: 1.2em;
}

/* Background elements */
#bg-text {
    color: rgb(22, 21, 12);
    font-size: 5em;
    top: -1250px;
}
.bg-streak-container {
    transform: rotate(var(--angle));
    width: 120%;
    margin-left: -10%;
}
.bg-streak {
    border-radius: 50em;
    background: linear-gradient(90deg, var(--primary) 0%, #d8fc18 100%);
    margin-top: 5px;
    margin-right: 5px;
    height: 12px;
}

/* Header elements */
.header-center-box {
    background-color: var(--gray1);
    width: min(70%, 30rem);
    margin: 10rem auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}
.header-center-box a img {
    width: 2rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#header-image {
    width: min(15rem, 70%);
    margin-top: -6rem;
    border: 2px solid var(--gray2);
    border-radius: 50%;
}
#header-text {
    color: var(--primary);
    padding-bottom: 1rem;
    font-size: 4em;
    font-weight: 100;
    font-style: italic;
}
.header-sub-title {
    width: 20rem;
    background-color: var(--gray2);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem 0;
    text-align: center;
    overflow: auto;
}
.header-sub-title div {
    margin: 0 auto;
    width: fit-content;
}
.header-sub-title div img {
    float: left;
    width: 2.5rem;
}
.header-sub-title div h2 {
    margin-left: 1rem;
    padding: 0;
    font-size: 2em;
    float: left;
}

/* Body elements */
.title-box {
    background-color: var(--gray1);
    width: min(70%, 30rem);
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}
.portfolio-item {
    width: min(90%, 45rem);
    border: 1px solid var(--gray2);
    border-radius: 1rem;
    background-color: var(--gray1);
    text-align: center;
    padding: 1rem;
    margin: 2rem auto;
}
.portfolio-item img {
    width: min(60%, 22rem);
    margin-bottom: 1rem;
    border: 5px solid var(--gray2);
    border-radius: 1rem;
}
.portfolio-item p {
    margin: 1rem auto;
}
.project-link {
    display: inline-block;
    color: white;
    background-color: var(--gray2);
    text-decoration: none;
    font-size: larger;
    padding: 0.5rem 0.9rem;
    margin: 0.6rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary);
}

/* Light mode */
@media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(240, 240, 240);
      color: black;
      font-weight: lighter;
    }
    #bg-text {
        color: rgb(240, 223, 204);
    }
    .bg-streak {
        background: linear-gradient(90deg, var(--primary) 0%, #ff9e0c 100%);
    }
    :root {
        --primary: #c24c08;
        --gray1: #ececec;
        --gray2: #e4e4e4;
    }
    .header-sub-title {
        border: 1px solid var(--primary);
    }
    .project-link {
        color: black;
    }
    .portfolio-item {
        border: 1px solid var(--primary);
    }
}

/* Other elements */
.antispam {
    display: none;
}
.no-space {
    height: 0;
    overflow: visible;
}