:root {
    color-scheme: dark light;
    --primary: #fcd718;
    --secondary-bg-1: #101010;
    --secondary-bg-2: #282828;
    --secondary-outline: #282828;
    --is-dark-mode: 1;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #FFF;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}

/* Background elements */
#bg {
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url("bg.png");
    background-repeat: repeat;
    background-size: 22rem;
}
.bg-streak-container {
    transform: rotate(var(--angle));
    width: 120%;
    margin-top: var(--top);
    margin-left: -10%;
}
.bg-streak {
    border-radius: 50em;
    background: linear-gradient(90deg, var(--primary) 0%, #d8fc18 100%);
    margin-top: 5px;
    margin-right: 5px;
    height: 12px;
}

/* Header elements */
.header-center-box {
    background-color: var(--secondary-bg-1);
    width: min(70%, 26rem);
    margin: 125px auto 5px auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}
.header-center-box a img {
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#header-image {
    width: min(15rem, 70%);
    height: min(15rem, 70%);
    margin-top: -6rem;
    border: 2px solid var(--secondary-outline);
    border-radius: 50%;
}
#header-text {
    color: var(--primary);
    padding-bottom: 1rem;
    font-size: 2.5em;
    font-weight: 100;
    font-style: italic;
}
.header-sub-title {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    width: min(17rem, 70vw);
    background-color: var(--secondary-bg-2);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 12px 0;
    text-align: center;
    overflow: auto;
}
.header-sub-title div {
    margin: 0 auto;
    width: fit-content;
}
.header-sub-title div img {
    float: left;
    width: 2rem;
    height: 2rem;
}
.header-sub-title div h2 {
    margin-left: 1rem;
    padding: 0;
    font-size: 1.5em;
    float: left;
}

/* Body elements */
.styled-box {
    width: min(90%, 35rem);
    border: 2px solid var(--secondary-outline);
    background-color: var(--secondary-bg-1);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

#desktop-portfolio {
    display: none;
}
.section-anim {
    opacity: 0;
    animation-name: slideInBottom;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    margin-top: 60px;
}
.section {
    margin-top: 75px;
}
.title-box {
    background-color: var(--secondary-bg-1);
    width: min(70%, 30rem);
    margin: 0.8rem auto;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 1rem;
}
.portfolio-header {
    width: min(90%, 35rem);
    border: 2px solid var(--secondary-outline);
    border-radius: 1rem;
    background-color: var(--secondary-bg-1) !important;
    margin: 0.8rem auto 0 auto;
}
.accordion > .frame.active > .heading {
    border-radius: 1rem 1rem 0 0;
    border-bottom-width: 0;
    margin-bottom: -1px;
}
.accordion.marker-on .heading::before {
    transform-origin: center center;
    left: 3px;
}
.portfolio-item {
    border-radius: 0 0 1rem 1rem;
    border-top-width: 0;
}
.portfolio-item img {
    width: min(95%, 28rem);
    margin-bottom: 0.5rem;
    border: 5px solid var(--secondary-outline);
    border-radius: 1rem;
}
.portfolio-item p {
    margin: 1rem auto;
}
.project-link {
    display: inline-block;
    color: white;
    background-color: var(--secondary-bg-2);
    text-decoration: none;
    font-size: larger;
    padding: 0.5rem 0.9rem;
    margin: 0.6rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary);
    transition: 0.25s;
}
.project-link:hover {
    padding: 0.45rem 0.8rem;
    margin: 0.65rem 0.6rem;
    color: var(--primary);
}

@media (min-width: 900px) {
    .bg-streak-container {
        margin-top: calc(var(--top) + 550px);
    }
    .portfolio-item {
        margin: 1rem 0;
        border-radius: 1rem;
        border-bottom: 2px solid var(--secondary-outline);
        border-top-width: 1px;
    }
    .accordion {
        display: none;
    }
    #desktop-portfolio {
        margin: 0 15px;
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(450px, 550px));
    }
}
@media (min-width: 1500px) {
    #desktop-portfolio {
        grid-template-columns: repeat(3, minmax(450px, 625px));
    }
}
.languages-box div div {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.languages-box div img {
    width: 18%;
}
.languages-box div picture img {
    width: 100%;
    margin: 0 0;
}
.languages-box > div:nth-child(2) {
    width: 85%;
    margin: 15px auto
}
.languages-box > div:nth-child(2) > img, .languages-box > div:nth-child(2) > picture {
    margin: 0 5px;
}
.languages-box > div:nth-child(3) {
    width: 70%;
    margin: 15px auto
}
.languages-box > div:nth-child(3) > img, .languages-box > div:nth-child(3) > picture {
    margin: 0 6px;
}

#expand-arrow {
    margin-top: 10px;
    color: white;
    font-size: 70%;
    width: 30px;
    background: none;
    border: none;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    #header-image {
        border-color: darkgray;
    }
    body {
      color: black;
      font-weight: lighter;
    }
    .bg-streak {
        background: linear-gradient(90deg, var(--primary) 0%, #ffc165 100%);
    }
    #bg {
        background-image: url("bg_light.png");
    }
    :root {
        --primary: #f39965;
        --secondary-bg-1: #f9f9f9;
        --secondary-bg-2: #f3f3f3;
        --secondary-outline: #e2e2e2;
    }
    .header-sub-title {
        border: 1px solid var(--primary);
    }
    .project-link {
        color: black;
    }
}

/* Other elements */
.antispam {
    display: none;
}
.no-space {
    height: 0;
    overflow: visible;
}

@keyframes slideInBottom {
    0% {transform: translateY(50%);opacity: 0;}
    100% {transform: translateY(0%);opacity: 1;}
}
@keyframes slideInLeft {
    0% {transform: translateX(-50%);opacity: 0;}
    100% {transform: translateX(0%);opacity: 1;}
}
@keyframes slideInRight {
    0% {transform: translateX(50%);opacity: 0;}
    100% {transform: translateX(0%);opacity: 1;}
}